<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<description>Shiro 配置</description>
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- 登录路径 --> 
		<property name="loginUrl" value="/index.html" />
		<!-- 登录成功后跳转路径 -->  
		<property name="successUrl" value="/main.jsp" />
		<!-- 授权失败跳转路径 --> 
		<property name="unauthorizedUrl" value="/errors/403.jsp" />
		<!-- 添加自定义验证拦截器 -->  
	<!-- 	<property name="filters">  
            <util:map>  
                <entry key="authc" value-ref="myAuthenFilter" />  
            </util:map>  
        </property>   -->
        
        <!-- 过滤链定义 --> 
		<property name="filterChainDefinitions">
			<value>
			 <!-- # static file chains  --> 
            /js/* = anon  
            /css/* = anon  
            /img/* = anon  
            /images/* = anon  
            /errors/* = anon  
               
            <!-- # login/logout chain  --> 
            /login.do* = anon  
               
            <!-- # some example chain definitions:  --> 
            /admin.do* = authc, roles[admin]  
            /user.do* = authc

				<!-- /login.jsp* = anon
				/login.do?main = anon
				/index.jsp* = anon
				/errors/*.jsp* = anon
				/views/*.jsp* = authc
				/getUser.do* = authc -->
			</value>
		</property>
	</bean>
	
	 <!-- 自定义验证拦截器 -->  
    <!-- <bean id="myAuthenFilter" class="com.alex.authenticator.filter.AuthenticationFilter" />  -->

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!--设置自定义realm -->
		<property name="realm" ref="monitorRealm" />
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!--自定义Realm 继承自AuthorizingRealm -->
	<bean id="monitorRealm" class="com.alex.authenticator.service.MonitorRealm"></bean>
	<!-- securityManager -->
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="securityManager" />
	</bean>

	<!-- Enable Shiro Annotations for Spring-configured beans. Only run after -->
	<!-- the lifecycleBeanProcessor has run: -->
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor" />
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />

	</bean>

</beans>